@* NavMenu.razor *@
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="/">CardBooster</a>
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        Accueil
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="collection">
                        Ma Collection
                    </NavLink>
                </li>
            </ul>
            <AuthorizeView>
                <Authorized>
                    <span class="navbar-text ms-auto">
                        Connecté en tant que @context.User.FindFirst(System.Security.Claims.ClaimTypes.Name)?.Value
                    </span>
                </Authorized>
            </AuthorizeView>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse navbar-collapse" : "navbar-collapse";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}